## Visual Studio ignore
.vs/
[Bb]in/
[Ob]j/
*.user
*.suo
*.userosscache
*.sln.docstates

## OS ignore
Thumbs.db
.DS_Store

## Environment variables
.env
*.local
.gitignore
*.pubxml.user
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.csproj.AssemblyReference.cache
*.pdb
*.sourcelink.json
*.dswa.cache.json
*.dll
